<%- include("templates/header", 
{tituloWeb: 'Perfil',
}) %>
    <!-- Loader -->
    <div id="loaderPagina" class="section_loader">
        <div class="loader">
          <div class="loader_1"></div>
          <div class="loader_2"></div>
          <span class="nota_load">Cargando...</span>
        </div>
      </div>
<div class="container mt-5">
    <h1 class="mb-4">Perfil de <%= usuario.nombre %></h1>
    <form action="/profile/edit" method="POST" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="<%= usuario.foto_perfil %>" class="rounded-circle" width="250" height="250" alt="Foto de perfil">
                    <div class="mt-3">
                        <input type="file" class="form-control" name="foto_perfil">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.nombre %>">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="<%= usuario.apellido %>">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= usuario.email %>" readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
            </div>
        </div>
    </form>
</div>

<%- include("templates/footer") %>
