<div class="container mt-5">
    <!-- Formulario de búsqueda -->
    <form class="d-flex navbar-nav-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

    <h1 class="mb-4">
        <%= titulo %>
    </h1>

    <!-- Botón para agregar un nuevo registro -->
    <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">
        <i class="fa fa-plus"></i> Agregar Nuevo
    </button>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <% encabezados.forEach(encabezado=> { %>
                    <th>
                        <%= encabezado %>
                    </th>
                    <% }) %>
                        <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(dato=> { %>
                <tr>
                    <% for (let key in dato) { %>
                        <td>
                            <%= dato[key] %>
                        </td>
                        <% } %>
                            <td>
                                <!-- Botón de Editar con datos -->
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#editModal" data-id="<%= dato[idField] %>"
                                    data-info='<%= JSON.stringify(dato) %>'
                                    data-encabezados='<%= JSON.stringify(encabezados) %>'>
                                    <i class="fa-duotone fa-solid fa-edit"></i>
                                </button>

                                <!-- Botón de Eliminar con confirmación -->
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#confirmationModal" data-id="<%= dato[idField] %>">
                                    <i class="fa-duotone fa-solid fa-trash"></i>
                                </button>
                            </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<!-- Modal de Edición -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveEditButton">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación Eliminar-->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmación de Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Agregar Nuevo -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Nuevo Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveAddButton">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    var encabezados = JSON.parse(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(encabezados)) %>'));
    var fieldMapping = JSON.parse(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(fieldMapping)) %>'));
</script>
<script>
    var entidad = "<%= entidad %>";
</script>
<script src="../functions/manejoModal.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>