    <!-- Loader -->
    <div id="loaderPagina" class="section_loader">
        <div class="loader">
          <div class="loader_1"></div>
          <div class="loader_2"></div>
          <span class="nota_load">Cargando...</span>
        </div>
      </div>
<div class="container mt-5">


    <h1 class="mb-4">
        <%= titulo %>
    </h1>

    <!-- Botón para agregar un nuevo registro -->
    <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal"  id="nuevo">
        <strong><i class="fa fa-plus"></i> Agregar Nuevo</strong>
    </button>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <% encabezados.forEach(encabezado=> { %>
                    <th>
                        <%= encabezado %>
                    </th>
                    <% }) %>
                        <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(dato=> { %>
                <tr>
                    <% for (let key in dato) { %>
                        <td>
                            <%= dato[key] %>
                        </td>
                        <% } %>
                            <td>
                                <!-- Botón de Editar con datos -->
                                <button class="btn btn-warning btn-xs" data-bs-toggle="modal"
                                    data-bs-target="#editModal" id="edit" data-id="<%= dato[idField] %>"
                                    data-info='<%= JSON.stringify(dato) %>'
                                    data-encabezados='<%= JSON.stringify(encabezados) %>'>
                                    <i class="fa-duotone fa-solid fa-edit"></i>
                                </button>

                                <!-- Botón de Eliminar con confirmación -->
                                <button class="btn btn-danger btn-xs" data-bs-toggle="modal"
                                    data-bs-target="#confirmationModal" id="delete" data-id="<%= dato[idField] %>">
                                    <i class="fa-duotone fa-solid fa-trash"></i>
                                </button>
                                <!-- Botón de Descarga de PDF, solo se muestra si es la tabla de reservas -->
                                <% if (entidad === 'reservas') { %>
                                    <button class="btn btn-info btn-xs" id="downloadPdf" data-id="<%= dato[idField] %>">
                                    <i class="fa fa-file-pdf"></i>
                                    </button>
                                <% } %>
                            </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/admin" class="btn btn-secondary mt-3" id="volver">
            <i class="fa fa-arrow-left"></i><strong> Volver al Panel de Administración</strong>
        </a>
</div>
<!-- Modal de Edición -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="volver"><strong>Cancelar</strong></button>
                <button type="button" class="btn btn-success" id="saveEditButton"><strong>Guardar Cambios</strong></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación Eliminar-->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmación de Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="volver"><strong>Cancelar</strong></button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton"><strong>Eliminar</strong></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Agregar Nuevo -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Nuevo Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="volver"><strong>Cancelar</strong></button>
                <button type="button" class="btn btn-success" id="saveAddButton"><strong>Guardar</strong></button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    var encabezados = JSON.parse(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(encabezados)) %>'));
    var fieldMapping = JSON.parse(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(fieldMapping)) %>'));
</script>
<script>
    var entidad = "<%= entidad %>";
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('#downloadPdf').forEach(button => {
        button.addEventListener('click', function() {
            var id = this.getAttribute('data-id');
            // Redirigir a la ruta del servidor para descargar el PDF
            window.location.href = `/reservas/pdf/${id}`;
        });
    });
});
</script>

